
body {
  background-color: black;
  height: 100%;
  width: 100%;
}
h1, h2, h3 {
  text-align: center;
}
#wrapper {
  width:80%;
 margin: auto;
background-color: gray;
box-shadow: 7px 7px 23px 3px darkcyan;
}
div {
  width: 90%;
  margin: auto;
}
.itembox {
  border: 5px double purple;
  border-radius: 3px;
  box-shadow: 3px 3px 12px 2px white;
  background-color: pink;
  color: darkmagenta;
  padding: 5px 10px
}
.favorite {
  border: 5px dotted lightcyan;
  border-radius: 3px
  box-shadow: 3px 3px 12px 2px white;
  background-color: lightblue;
  color: darkblue;
  padding: 5px 10px
}
ol {
  background-color: #d6a4e8;
  padding: 20px;
}
ol li {
  list-style-type: georgian;
  background-color: #efdef8;
  color: #4e309e;
  padding: 5px;
  margin-left: 35px;
}
ul#help {
  border-radius: 3px;
  list-style-type: none;
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
ul#help li {
  float: left;
}

ul#help li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul#help li a:hover:not(.active) {
  background-color: #ffc0cb;
}
