html, body {
  height: 100%;
  width: 100%;
}
#submit {
background:    #15d798;
background:    linear-gradient(#15d798, #073763);
border-radius: 11px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 "Open Sans", sans-serif;
text-align:    center; }